<%# Dashboard Content %>
<div class="row">
  <div class="col-12">
    <div class="jumbotron bg-light p-5 rounded">
      <h1 class="display-4">Welcome to CRM App</h1>
      <p class="lead">Simple CRM application built with Rails 8 and Bootstrap 5</p>
      <hr class="my-4">
      <p>This is a learning project to understand Rails fundamentals with CRUD operations and relationships.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
  </div>
</div>

<%# Feature Cards %>
<div class="row mt-4">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Clients</h5>
        <p class="card-text">Manage your customers and companies</p>
        <a href="#" class="btn btn-outline-primary">View Clients</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Contacts</h5>
        <p class="card-text">People within your client companies</p>
        <a href="#" class="btn btn-outline-primary">View Contacts</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Opportunities</h5>
        <p class="card-text">Track your sales opportunities</p>
        <a href="#" class="btn btn-outline-primary">View Opportunities</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Tasks</h5>
        <p class="card-text">Manage your activities and to-dos</p>
        <a href="#" class="btn btn-outline-primary">View Tasks</a>
      </div>
    </div>
  </div>
</div>
