<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h1 class="h4 mb-0">Edit Opportunity for <%= @client.name %></h1>
        </div>
        <div class="card-body">
          <%= render 'form', client: @client, opportunity: @opportunity %>
        </div>
      </div>
    </div>
  </div>
</div>
